.Nav{
    position: relative;
    z-index: 1;
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 15px 32px;
}

.Nav img{
    width: 94px;
    border: none;
}

.Main{
    margin-top: 16px;
    padding: 0 20px;
}

.Events{
    max-width: 1070px;
    margin: auto;
    position: relative;
    z-index: 2;
    margin-top: 16px;
}

.Events .Subheading{
    font-size: 2rem;
    font-weight: 900;
}

.blobLeft{
    position: absolute;
    top: 280px;
    width: 240px;
}
.blobTop{
    position: absolute;
    top: 0;
    left: 33%;
    transform: (-50%);
}
.blobRight{
    position: absolute;
    top: 0;
    right: 0;
}
.blobBottomRight{
    position: absolute;
    top: 500px;
    right: 0;
}

.Nav .links a{
    margin-left: 24px;

    font-size: 14px;
    font-weight: 500;
    color: black;
    text-decoration: none;
}

.Ctarea{
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
    max-width: 1070px;
    height: 420px;
    margin: auto;
}

.Ctarea .OnlineCall{
    position: absolute;
    width: 850px;
    top: 80px;
    right: 5px;
    margin-right: 5vw;
}

.Ctarea .Cta{
    width: 450px;
    position: relative;
    z-index: 2;
    
}

.Ctarea .Cta a{
    display: block;
    
    width: 215px;

    margin-top: 40px;

    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    text-align: center;

    border-radius: 8px;
    background: #FF1154;
    color: white;

    padding: 20px 60px;
    
}

.Ctarea .Cta a:hover{
    background: #ff608d;
}

.Ctarea .Cta .text{
    padding-top: 32px;
    font-size: 56px;
    line-height: 62px;
    font-weight: 900;
}


/* FOOTER */
footer{
    background-color: #212121;
    color: #F6F7F8;
    padding: 24px;
}

footer .Inner{
    max-width: 960px;
    margin: auto;
}


footer .Inner .Cta {
    display: flex;
    align-items: center;

    padding-bottom: 24px;
    border-bottom: 1px solid grey;
}

footer .Inner .Cta p{
    font-size: 1.25rem;
    font-weight: 900;
    margin: 0 16px 0 0;
}

footer .Inner .Cta a{
    display: block;
    padding: 8px 16px;

    text-decoration: none;
    color: white;

    border: 2px solid white;
    font-size: 1.125rem;
    font-weight: 900;
    border-radius: 8px;
}

footer .Inner .Cta a:hover{
    border-color: rgb(219, 219, 219);
}


footer .Inner .Links{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

footer .Inner .Links p{
    margin-bottom: 8px;
    font-size: 1.0625rem;
    font-weight: 500;
}

footer .Inner a{
    display: block;
    
    font-size: 0.9375rem;
    font-weight: 500;

    text-decoration: none;
    color: #C5C4C4;
    margin-bottom: 8px;
}

footer .Inner a:hover{
    text-decoration: none;
    color: #a1a1a1;
}

footer .Inner .FollowUs{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 32px;
}

footer .Inner .FollowUs .Apps img:first-of-type{
    margin-right: 16px;
}

footer .Inner .FollowUs img{
    height: 38px;
}

footer .Inner .FollowUs .Socials p{
    font-weight: 500;
    margin-top: 0;
}

footer .Inner .FollowUs .Socials a{
   display: inline-block;
}

footer .Inner .FollowUs .Socials i{
    font-size: 1.75rem;
    color: #C5C4C4;

    margin-right: 32px;
}

footer .Inner .Policy{
   display: flex;
   align-items: center;

   margin-top: 32px;
}

footer .Inner .Policy *{
    margin: 0 24px 0 0;
}

footer .Inner .Policy p{
    font-weight: 500;
    font-size: .9375rem;
}
